<div class='well'>
  <%= form_for([:admin, @custom_field], html: {class: 'form-horizontal'}) do |f| %>

    <% if @custom_field.errors.any? %>
      <div class="alert alert-error">
        <p> <%= t(:error_bang) %></p>
        <ul>
          <% @custom_field.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class="control-group">
        <%= f.label :name, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, class: 'input-xlarge focus' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :field_type, class: 'control-label' %>
        <div class="controls">
          <% if @custom_field.new_record? %>
            <%= f.text_field :field_type, class: 'input-xlarge' %>
            <p class="help-block">
              Valid values are text, number or date .
            </p>
          <% else %>
            <%= f.text_field :field_type, class: 'input-xlarge disabled', disabled: 'disabled' %>
          <% end %>
        </div>
      </div>
    </fieldset>

    <div class="form-actions">
      <%= f.submit('Submit', class: 'btn btn-primary') %>
      &nbsp;
      <%= link_to 'Cancel', admin_custom_fields_path, class: 'btn' %>
    </div>

  <% end %>
<div>
