<div>
  <h1 class='ns-page-title'><%= t(:custom_fields) %></h1>

  <%= link_to(new_admin_custom_field_path, class: 'btn btn-success new-action') do %>
    <i class="icon-plus"></i><%= t(:add_new_custom_field) %>
  <% end %>
  <div class='clear'></div>
</div>

<br />

<table class="table table-striped">
  <tbody>
    <% @custom_fields.each do |custom_field| %>
      <tr>
        <td><%= custom_field.name %></td>
        <td><%= custom_field.field_type %></td>
        <td>
          <%= link_to t(:edit), edit_admin_custom_field_path(custom_field) %>
          |
          <%= link_to t(:delete), [:admin, custom_field], confirm: t(:delete_confirmation_for_custom_field), method: 'delete' %>
        </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

