<br />

<p>
  <label class='radio'>
    <%= radio_button_tag 'payment_choice', 'authorize-net', true %>
    <label for='payment_choice'>
      <%= image_tag('engines/nimbleshop_authorizedotnet/visa.png') %>
      <%= image_tag('engines/nimbleshop_authorizedotnet/mastercard.png') %>
      <%= image_tag('engines/nimbleshop_authorizedotnet/american_express.png') %>
      <%= image_tag('engines/nimbleshop_authorizedotnet/discover.png') %>
    </label>
  </label>
</p>

<%= form_for @creditcard, url: nimbleshop_stripe.payment_path(format: :js), remote: true, html: { id: 'stripe-payment-form', class: 'form-horizontal' } do |f| %>
  <div class='nimbleshop_stripe_umbrella'>
    <% if @creditcard.errors.any? %>
      <div class="alert alert-error">
        <ul>
          <% @creditcard.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class='control-group'>
        <div class='controls'>
          <input autocomplete="off" class="input-xlarge focus" id="creditcard_number" placeholder="Credit card number" size="30" type="text">
          <% unless (NimbleshopStripe::Stripe.first.mode == 'production') %>
            &nbsp;
            <%= link_to 'Valid number', '#stripe-sandboxhelp', 'data-toggle' => "modal" %>
          <% end %>
        </div>
      </div>

      <div class='control-group'>
        <div class='controls'>
          <input autocomplete="off" id="creditcard_cvv" placeholder="CVV" size="30" type="text">
          &nbsp;
          <%= link_to 'What is this?', '#cvvhelp', 'data-toggle' => "modal" %>
        </div>
      </div>

      <div class='control-group'>
        <p style='padding-left:160px;'>
        Expiration date
        </p>
        <div class='controls'>
          <%= f.date_select :expires_on,  discard_day: true,  start_year: Date.today.year,
                                                              end_year: (Date.today.year + 10),
                                                              add_month_numbers: true,
                                                              order: [:day, :month, :year] %>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit', class: 'btn btn-primary', 'data-behavior' => 'stripe-submit-button' %>
  </div>

  <%= render '/nimbleshop_stripe/payments/stripe_instructions' %>
  <%= render '/nimbleshop_stripe/payments/what_is_cvv' %>
<% end %>

<style>
  #creditcard_expires_on_2i{
    width: 130px;
  }
  #creditcard_expires_on_1i {
    width: 100px;
  }
</style>

<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript"> Stripe.setPublishableKey('<%=NimbleshopStripe::Stripe.first.publishable_key%>'); </script>
<script>
$(document).ready(function(){
  $('#stripe-payment-form').submit(function(event){
    $('[data-behavior~=stripe-submit-button]').attr('value', 'processing ...').attr('disabled', 'disabled');

    var $this = $(this);

    function stripeResponseHandler(status, response) {
      if (response.error) {
        $('[data-behavior~=stripe-submit-button]').attr('value', 'Submit').removeAttr('disabled');
        alert(response.error.message);
      } else {
        var $form = $("#stripe-payment-form");
        // token contains id, last4, and card type
        var token = response['id'];
        // insert the token into the form so it gets submitted to the server
        $form.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");

        $.ajax({
          type: 'POST',
          url: $this.attr('action'),
          data: $this.serializeArray()
        });


      }
    }

    Stripe.createToken({
      number: $('#creditcard_number').val(),
      cvc: $('#creditcard_cvv').val(),
      exp_month: $('#creditcard_expires_on_2i').val(),
      exp_year: $('#creditcard_expires_on_1i').val()
    }, stripeResponseHandler);

    // prevent the form from submitting with the default action
    return false;
  });
});
</script>
