<tr>
  <td> <%= shipping_method.name %> </td>
  <td> <%= shipping_method_condition_in_english(shipping_method) %> </td>
  <td> <%= number_to_currency(shipping_method.base_price) %> </td>
  <td>
    <%= link_to t(:edit), [:edit, :admin, shipping_method.shipping_zone, shipping_method ], title: 'Edit' %>
    |
    <%= link_to admin_shipping_zone_shipping_method_path(shipping_method.shipping_zone, shipping_method), 
                              data: { confirm: t(:delete_confirmation_for_shipping_method) }, class: 'delete', title: 'Delete', method: 'delete' do %>
      <%= delete_icon %>
    <% end %>
  </td>
</tr>
