<div>
  <h1><%= t(:shipping_zones) %></h1>
</div>

<%= link_to(new_admin_shipping_zone_path) do %>
  <button class="btn info">+ <%= t(:add_new_shipping_zone) %></button>
<% end %>

<br />
<br />

<% @shipping_zones.each do |shipping_zone| %>
  <table class="zebra-striped bordered-table">
    <thead>
      <tr>
        <th colspan='4'>
          <h3><%= shipping_zone.name %></h3>
          <%= link_to 'Add new shipping method', new_admin_shipping_zone_shipping_method_path(shipping_zone) %>
          |
          <%= link_to t(:edit), edit_admin_shipping_zone_path(shipping_zone) %>
          |
          <%= link_to t(:delete), [:admin, shipping_zone], confirm: t(:delete_confirmation_for_shipping_zone), method: 'delete' %>
        </th>
      </tr>
      <tr>
        <th> Shipping method name </th>
        <th> Condition </th>
        <th> Shipping price </th>
        <th> &nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% shipping_zone.shipping_methods.each do |shipping_method| %>
        <tr>
          <td> <%= shipping_method.name %> </td>
          <td> <%= shipping_method_condition_in_english(shipping_method) %> </td>
          <td> <%= number_to_currency(shipping_method.shipping_price) %> </td>
          <td>
            <%= link_to t(:delete), [:admin, shipping_method.shipping_zone, shipping_method], confirm: t(:delete_confirmation_for_shipping_method), method: 'delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
<% end %>
