<div>
  <h1><%= t(:shipping_zones) %></h1>
</div>

<%= link_to(new_admin_shipping_zone_path) do %>
  <button class="btn info">+ <%= t(:add_new_shipping_zone) %></button>
<% end %>

<br />
<br />

<% @shipping_zones.each do |shipping_zone| %>
  <table class="zebra-striped">
    <tbody>
      <tr>
        <td colspan='3'><%= shipping_zone.name %></td>
        <td>
          <%= link_to t(:edit), edit_admin_shipping_zone_path(shipping_zone) %>
          |
          <%= link_to t(:delete), [:admin, shipping_zone], confirm: t(:delete_confirmation_for_shipping_zone), method: 'delete' %>
        </td>
      </tr>
      <% shipping_zone.shipping_methods.each do |shipping_method| %>
        <tr>
          <td> <%= shipping_method.name %> </td>
          <td> <%= shipping_method_condition_in_english(shipping_method) %> </td>
          <td> <%= number_to_currency(shipping_method.shipping_price) %> </td>
          <td>
            <%= link_to t(:edit), edit_admin_shipping_method_path(shipping_method) %>
            |
            <%= link_to t(:delete), [:admin, shipping_method], confirm: t(:delete_confirmation_for_shipping_method), method: 'delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
