<div class="span12">

  <%= nested_form_for([:admin, @shipping_method]) do |f| %>

    <% if @shipping_method.errors.any? %>
      <div class="alert-message block-message error">
        <p> <%= t(:error_bang) %> </p>
        <ul>
          <% @shipping_method.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class="clearfix">
        <%= f.label :name %>
        <div class="input">
          <%= f.text_field :name, class: 'xlarge focus', size: 30 %>
        </div>
      </div><!-- /clearfix -->

      <div class="clearfix">
        <%= f.label :lower_price_limit %>
        <div class="input">
          <%= f.text_field :lower_price_limit, class: 'xlarge', size: 30 %>
        </div>
      </div><!-- /clearfix -->

      <div class="clearfix">
        <%= f.label :upper_price_limit %>
        <div class="input">
          <%= f.text_field :upper_price_limit, class: 'xlarge', size: 30 %>
          <span class="help-block">
            Leave this field blank if there is no upper limit
          </span>
        </div>
      </div><!-- /clearfix -->

      <div class="clearfix">
        <%= f.label :shipping_price %>
        <div class="input">
          <%= f.text_field :shipping_price, class: 'xlarge', size: 30 %>
        </div>
      </div><!-- /clearfix -->

      <div class="actions">
        <%= f.submit('Submit', class: 'btn primary') %>
        &nbsp;
        <%= link_to t(:cancel), admin_shipping_zones_path, class: 'btn' %>
      </div>

    </fieldset>
  <% end %>
</div>


<br />
<br />
<br />


