<div class="well">
  <%= nested_form_for([:admin, @shipping_zone, @shipping_method], html: {class: 'form-horizontal'}) do |f| %>

    <% if @shipping_method.errors.any? %>
      <div class="alert alert-error">
        <p> <%= t(:error_bang) %> </p>
        <ul>
          <% @shipping_method.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class="control-group">
        <%= f.label :name, 'Shipping method name', class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, class: 'input-xlarge focus' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :base_price, 'Shipping cost', class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :base_price, class: 'span1', :'data-behavior' => 'price-formatted' %> USD
        </div>
      </div>

      <div class="control-group">
        <%= f.label :lower_price_limit, 'Minimum order amount', class: 'control-label' %> <a href="#">(?)</a>
        <div class="controls">
          <%= f.text_field :lower_price_limit, class: 'span1', :'data-behavior' => 'price-formatted' %> USD
        </div>
      </div>

      <div class="control-group">
        <%= f.label :upper_price_limit, 'Maximum order amount', class: 'control-label' %> <a href="#">(?)</a>
        <div class="controls">
          <%= f.text_field :upper_price_limit, class: 'span1', :'data-behavior' => 'price-formatted', placeholder: '&#8734;'.html_safe %> USD
        </div>
      </div>

    </fieldset>

    <div class="form-actions">
      <%= f.submit 'Submit', class: 'btn btn-primary', 'data-loading-text' => 'processing ...' %>
      &nbsp;
      <%= link_to t(:cancel), admin_shipping_zones_path, class: 'btn' %>
    </div>

  <% end %>
</div>
