<% if @creditcard.errors.any? %>
  <div class="alert alert-error">
    <ul>
      <% @creditcard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<fieldset>
  <div class='control-group'>
    <%= f.label :number, 'Credit card number', autocomplete: 'off', class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :number, class: 'input-xlarge focus' %>
      &nbsp;
      <%= link_to 'Help', '#authorizenetsandboxhelp', 'data-toggle' => "modal" %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :cvv, 'CVV number', autocomplete: 'off', class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :cvv %>
      &nbsp;
      <%= link_to 'What is this?', '#cvvhelp', 'data-toggle' => "modal" %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :expires_on, 'Expiration date', class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :month,  size: 2 %>/<%= f.text_field :year,   size: 4 %>
    </div>
  </div>
</fieldset>

<div class="form-actions">
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
</div>
