<div>
  <h1 class='ns-page-title'>Shop configuration</h1>
  <div class='clear'></div>
</div>

<br />

<div class='well'>
  <%= form_for([:admin, @shop], html: {class: 'form-horizontal'}) do |f| %>

    <% if @shop.errors.any? %>
      <div class="alert alert-error">
        <p> <%= t(:error_bang) %> </p>
        <ul>
          <% @shop.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class="control-group">
        <%= f.label :name, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, class: 'span8' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :theme, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :theme, class: 'span8' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :time_zone, class: 'control-label' %>
        <div class="controls">
          <%= f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :twitter_handle, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :twitter_handle, class: 'span8' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :facebook_url, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :facebook_url, class: 'span8' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :contact_email, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :contact_email, class: 'span8' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :intercept_email, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :intercept_email, class: 'span8' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :from_email, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :from_email, class: 'span8' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :aaa, 'How to process credit card', class: 'control-label' %>
        <div class='controls'>
          <label class='radio'>
            <%= f.radio_button :default_creditcard_action, 'authorize' %>
            Authorize the credit card for the total amount of the order .
          </label>
          <label class='radio'>
            <%= f.radio_button :default_creditcard_action, 'purchase' %>
            Authorize and capture the credit card for the total amount of the order .
          </label>
        </div>
      </div>
    </fieldset>

    <div class="form-actions">
      <%= f.submit('Submit', class: 'btn btn-primary') %>
      &nbsp;
      <%= link_to 'Cancel', edit_admin_shop_path, class: 'btn' %>
    </div>
  <% end %>
</div>
