<h4>Here is receipt for your purchase at <%= @shop.name %> .</h4>

<p>
  Payment date: <%= @order.creditcard_transactions.first.created_at.to_s(:long) %> <br />
  Credit card: <%= @order.creditcard_transactions.first.creditcard.masked_number %>
</p>

<p>
  <h4>Item will be shipped to :</h4>

  <% @order.shipping_address.full_address_array.each do |line| %>
    <%= line %> <br />
  <% end %>
</p>

<% unless @order.shipping_address.use_for_billing %>
  <p>
    <h4>Billing address :</h4>

    <% @order.billing_address.full_address_array.each do |line| %>
      <%= line %><br />
    <% end %>
  </p>
<% end %>


<h4>Content details:</h4>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Item price</th>
      <th>Item quantity</th>
      <th>Item total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |line_item| %>
      <% product = line_item.product %>
      <tr>
        <td> <%= truncate(sanitize(product.name), length: 90) %> </td>
        <td> <%= number_to_currency(product.price) %></td>
        <td> <%= line_item.quantity %></td>
        <td> <%= number_to_currency(line_item.line_price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Shipping method: <%= @order.shipping_method.name %> <br />
  Shipping cost: <%= number_to_currency(@order.shipping_method.shipping_cost) %>
</p>

<h4> Total amount: <%= number_to_currency(@order.price_with_shipping) %> </h4>
