<table class='table table-bordered' width='100%'>
  <% current_order.line_items.each do |line_item| %>
    <tr>
      <td colspan='2'>
        <div style='float:left; width:200px;border:0px solid red;'>
        <%= truncate(line_item.product.title, length: 75) %>

        <p>
          <i><%= display_variant_info(line_item) %> </i>
        </p>
        <p>
          <%= line_item.quantity %> x <%= number_to_currency(line_item.product_price) %> =
          <strong> <%= number_to_currency(line_item.price) %> </strong>
        </p>
      </div>
      <div style='float:right; width: 100px;border: 0px solid blue;'>
        <%= image_tag line_item.product.picture.picture_url(:small), alt: line_item.product.name %>
      </div>
      <div style='clear:both;'></div>
    </tr>
  <% end %>
  <% if current_order.shipping_method %>
    <tr> <td>Shipping</td> <td> <%= number_to_currency(current_order.shipping_method.shipping_cost) %> </td></tr>
  <% end %>
  <tr>
    <td>
      <h4>
        Total: <%= number_to_currency(current_order.price_with_shipping) %>
      </h4>
    </td>
  </tr>
</table>
