<tr>
  <td class="pic">
    <%= link_to(image_tag(line_item.product.picture.picture_url(:small), alt: line_item.title), line_item.product) %>
  </td>
  <td>
    <strong><%= link_to(line_item.title, line_item.product) %></strong>
  </td>
  <td><%= number_to_currency(line_item.product_price) %></td>
  <td> <%=line_item.quantity%> </td>
  <td><%= number_to_currency(line_item.price) %></td>
</tr>
