<% product = line_item.product %>
<tr>
  <td class="pic">
    <%= link_to(image_tag(product.picture.picture_url(:thumb), alt: product.title), product) %>
  </td>
  <td>
    <strong><%= link_to(product.title, product) %></strong>
    <p>
      <%= truncate(sanitize(product.description), length: 90) %>
    </p>
  </td>
  <td><%= number_to_currency(product.price) %></td>
  <td> <%=line_item.quantity%> </td>
  <td><strong><%= number_to_currency(line_item.line_price) %></strong></td>
</tr>
