<tr>
  <td class="pic">
    <%= image_tag(line_item.picture_small, alt: line_item.title) %>
  </td>
  <td>
    <strong><%= line_item.title %></strong>
  </td>
  <td><%= number_to_currency(line_item.product_price) %></td>
  <td> <%=line_item.quantity%> </td>
  <td><%= number_to_currency(line_item.price) %></td>
</tr>
