<div class='row'>
  <div class='span5'>
    <h2> Payment status <%= display_payment_status(@order) %> </h2>

    <%= next_payment_processing_action(@order) %>

    <% if @order.payment_method %>
      <p>
        Payment method: <%= @order.payment_method.name %> <br />
        <%= order_show_extra_info(@order) %>
      </p>
    <% end %>

    <% if @order.final_billing_address.present? %>
      <h4> Billing address</h4>
      <p>
        <address> <%= display_address(@order.final_billing_address) %> </address>
      </p>
    <% end %>

  </div>
</div>
