<div class='row'>
  <div class='span10 alert alert-info'>
    <table class='table'>
      <tr>
        <td colspan='3'>
          <h2> Payment status <%= display_payment_status(@order) %> </h2>
        </td>
      </tr>
      <% if PaymentMethod::Splitable === @order.payment_method %>
        <tr>
          <td colspan='3'>
              Payment method: <%= @order.payment_method.name %> <br />
              Transaction Id: <%= @order.splitable_transaction_number %>
          </td>
        </tr>
      <% end %>

      <%= render partial: @order.payment_transactions,  as: :transaction  %>

      <tr>
        <td colspan='3'>
          <% if @order.final_billing_address.present? %>
            <h4> Billing address</h4>
            <p>
              <address> <%= @order.final_billing_address.full_address_array.join('<br />').html_safe %> </address>
            </p>
          <% end %>
        </td>
      </tr>
    </table>

  </div>
</div>
