<% if @order.shipping_method %>
  <div class='row'>
    <div class='span10 alert alert-info'>
      <table class='table'>
        <tr>
          <td colspan='2'>
            <h2> Shipping status <%= display_shipping_status(@order) %> </h2>
          </td>
        </tr>
        <tr>
          <td>
            <h4> Shipping method: </h4> <%= @order.shipping_method.name %>
          </td>

          <td class='shipment_tracking_info'>
            <% if @order.shipping_status.shipping_pending? %>
              <%= link_to 'Ship items', '#', class: 'btn btn-success ship_items_link' %>
            <% elsif @order.shipping_status.shipped? %>
              Shipped on <%= @shipment.created_at.to_s(:long) %> <br/>
              via
              <%= link_to @shipment.name + ' #' + @shipment.tracking_number, @shipment.tracking_url %>
            <% end %>

            <div id='ship_items_action_box'>
              <%= form_for([:admin, @order, @shipment], html: {class: 'well form-inline'}) do |f| %>
                <p>
                  <%= f.select :shipment_carrier_id, ShipmentCarrier.all.collect {|p| [p.name, p.id] }, {}, class: 'span2' %>
                  <%= f.text_field :tracking_number, class: 'input-medium', placeholder: 'Tracking number' %>
                  <label class='checkbox'> <%= f.check_box :notify_customer %> Notify customer </label>
                </p>
                <p>
                  <%= f.submit 'Submit', class: 'btn btn-primary' %>
                  <%= link_to 'Cancel', '#', id: 'ship_items_cancel' %>
                </p>
              <% end %>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan='2'>
            <% if @order.shipping_address.present? %>
              <h4>Shipping address</h4>
              <p>
                <%= @order.shipping_address.full_address_array.join('<br />').html_safe %>
              </p>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
