<div>
  <h1><%= t(:orders) %></h1>
</div>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Order number</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td> <%= link_to order.number, admin_order_path(order) %> </td>
        <td> <%= number_to_currency(order.grand_total) %> </td>
        <td><%= order.status %></td>
        <td><%= order.updated_at.to_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
