<div>
  <h1><%= t(:orders) %></h1>
</div>

<table class="zebra-striped">
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td> <%= order.number %> </td>
        <td> <%= number_to_currency(order.grand_total) %> </td>
        <td><%= order.status %></td>
        <td><%= order.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
