<h3> Order #<%= @order.number %> </h3>


<table class='zebra-striped'>
  <thead>
    <tr>
      <th colspan="2" class="start">Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |line_item| %>
      <%= render 'line_item', line_item: line_item %>
    <% end %>
  </tbody>
</table>


<% if @order.shipping_method %>
  <h3> Shipping details </h3>
  <p>
    Shipping method : <%= @order.shipping_method.name %>
  </p>
  <p>
    Shipping cost : <%= number_to_currency(@order.shipping_method.shipping_cost) %>
  </p>
<% end %>

<p>
  Total: <%= number_to_currency(@order.price_with_shipping) %>
</p>

<% if @order.shipping_address.present? %>
  <h3>Shipping address</h3>
  <%= @order.shipping_address.full_address_array.join('<br />').html_safe %>

  <% unless @order.shipping_address.use_for_billing %>
    <h3> Billing address </h3>
    <address>
      <%= @order.billing_address.full_address_array.join('<br />').html_safe %>
    </address>
  <% end %>

  <h3>Contact email</h3>
  <address>
    <%= @order.email %>
  </address>
<% end %>


<h3>Payment details </h3>

Transaction amount: <%= number_to_currency(@order.creditcard_transactions.first.amount) %> <br />
Transaction date: <%= @order.creditcard_transactions.first.created_at.strftime('%B %d %Y %I:%M %p') %> <br />
Credit card: <%= @order.creditcard_transactions.first.creditcard.masked_number %>

<p>
  Payment address: <br />
  <% address = @order.shipping_address.use_for_billing ? @order.shipping_address : @order.billing_address %>
  <%= address.full_address_array.join('<br />').html_safe %>
</p>
