<h3> Order #<%= @order.number %> </h3>


<table class='zebra-striped bordered-table'>
  <thead>
    <tr>
      <th colspan="2" class="start">Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |line_item| %>
      <%= render 'line_item', line_item: line_item %>
    <% end %>

    <% if @order.shipping_method %>
      <tr>
        <td>&nbsp;</td>
        <td>
          Shippping method: <%= @order.shipping_method.name %>
        </td>
        <td> <%= number_to_currency(@order.shipping_method.shipping_cost) %> </td>
        <td>&nbsp;</td>
        <td><%= number_to_currency(@order.shipping_method.shipping_cost) %> </td>
      </tr>
    <% end %>

    <tr>
      <td>&nbsp;</td>
      <td>Total</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td> <strong> <%= number_to_currency(@order.price_with_shipping) %> </strong> </td>
    </tr>
  </tbody>
</table>

<% if @order.shipping_address.present? %>
  <h3>Shipping address</h3>
  <%= @order.shipping_address.full_address_array.join('<br />').html_safe %>

  <% unless @order.shipping_address.use_for_billing %>
    <h3> Billing address </h3>
    <address>
      <%= @order.billing_address.full_address_array.join('<br />').html_safe %>
    </address>
  <% end %>

  <h3>Contact email</h3>
  <address>
    <%= @order.email %>
  </address>
<% end %>


<% if @order.creditcard_transactions.any? %>
  <h3>Payment details </h3>

  Transaction amount: <%= number_to_currency(@order.creditcard_transactions.first.amount) %> <br />
  Transaction date: <%= @order.creditcard_transactions.first.created_at.to_s(:long) %> <br />
  Credit card: <%= @order.creditcard_transactions.first.creditcard.masked_number %>
<% end %>

<% if @order.shipping_address %>
  <h3> Payment address </h3>
  <% address = @order.shipping_address.use_for_billing ? @order.shipping_address : @order.billing_address %>
  <%= address.full_address_array.join('<br />').html_safe %>
<% end %>
