<div class='row'>
  <div class='span10'>
  <div class='ns-page-title'>
    <h1> Order #<%= @order.number %> </h1>
  </div>
  <div class='new-action'>
    <div style='float:left;'>
      <%= gravatar_for(@order.email) %>
    </div>
    <div style='float:right;margin-left: 7px;'>
    <h4><%= @order.final_billing_address.name %></h4>
    <div><i class="icon-search icon-envelope"></i>&nbsp;<%= @order.email %></div>
      <%= link_to '', '#' %>
    </p>
  </div>
  </div>
  </div>
  <div class='clear'></div>
</div>

<br />

<div class='row'>
  <div class='span10 alert alert-success'>
    <h3> Payment status <%= display_payment_status(@order) %> </h3>

    <% if PaymentMethod::Splitable === @order.payment_method %>
      <p>
        Payment method: <%= @order.payment_method.name %> <br />
        Transaction Id: <%= @order.splitable_transaction_number %>

      </p>
    <% end %>

    <% if @order.creditcard_transactions.any? %>
      <p>
        <table style='margin-bottom:0px;'>
          <% @order.creditcard_transactions.each do |t| %>
            <tr>
              <td> <%= t.created_at.to_s(:long) %> </td>
              <td> <%= t.status.titleize %> <%= number_to_currency(t.amount) %> </td>
              <td>
                <%= creditcard_logo_for(t.creditcard) %>
                <%= t.creditcard.masked_number %>
              </td>
            </tr>
          <% end %>
        </table>
      </p>
    <% end %>

    <% if @order.final_billing_address.present? %>
      <h5> Billing address</h5>
      <p>
        <address> <%= @order.final_billing_address.full_address_array.join('<br />').html_safe %> </address>
      </p>
    <% end %>
  </div>
</div>

<br />

<div class='row'>
  <div class='span10 alert alert-info'>
    <h2> Shipping status <%= display_shipping_status(@order) %> </h2>
    <p>
      Shipping method: <%= @order.shipping_method.name %>
      <br />
      <% if @order.shipping_status.shipping_pending? %>
        <%= link_to 'Ship items', '#', class: 'btn success ship_items_link' %>
      <% elsif @order.shipping_status.shipped? %>
        Shipped on <%= @shipment.created_at.to_s(:long) %> <br/>
        Tracking: <%= link_to @shipment.tracking_number, @shipment.tracking_url %>
      <% end %>
    </p>

    <div style="display:none;" id='ship_items_action_box'>
      <%= form_for([:admin, @order, @shipment]) do |f| %>
        <%= f.label :tracking_number %>
        <%= f.text_field :tracking_number, class: 'xlarge focus', size: 30 %> <br />
        <%= f.select :shipment_carrier_id, ShipmentCarrier.all.collect {|p| [p.name, p.id] }, class: 'xlarge', size: 30 %>
        <br />
        <%= f.label :notify_customer %>
        <%= f.check_box :notify_customer %>
        <%= f.submit 'Submit', class: 'btn primary' %>
      <% end %>
    </div>

    <p>
      <% if @order.shipping_address.present? %>
        <h4>Shipping address</h4>
        <%= @order.shipping_address.full_address_array.join('<br />').html_safe %>
      <% end %>
    </p>
  </div>
</div>

<br />

<%= render 'line_items' %>
