<div class='row'>
  <div class='span10'>
  <div class='ns-page-title'>
    <h1> Order #<%= @order.number %> </h1>
  </div>
  <div class='new-action'>
    <div style='float:left;'>
      <%= gravatar_for(@order.email) %>
    </div>
    <div style='float:right;margin-left: 7px;'>
    <h4><%= @order.final_billing_address.try(:name) %></h4>
    <div><i class="icon-envelope"></i>&nbsp;<%= @order.email %></div>
      <%= link_to '', '#' %>
    </p>
  </div>
  </div>
  </div>
  <div class='clear'></div>
</div>

<br />

<%= render 'payment_info' %>

<br />

<%= render 'shipping_info' %>

<br />

<%= render 'line_items' %>
