<div class='row'>
  <div class='span10'>
  <div class='ns-page-title'>
    <h1> Order #<%= @order.number %> </h1>
  </div>
  <div class='new-action'>
    <div style='float:left;'>
      <%= gravatar_for(@order.email) %>
    </div>
    <div style='float:right;margin-left: 7px;'>
    <h4><%= @order.final_billing_address.try(:name) %></h4>
    <div><i class="icon-search icon-envelope"></i>&nbsp;<%= @order.email %></div>
      <%= link_to '', '#' %>
    </p>
  </div>
  </div>
  </div>
  <div class='clear'></div>
</div>

<br />

<div class='row'>
  <div class='span10 alert alert-success'>
    <h3> Payment status <%= display_payment_status(@order) %> </h3>

    <% if PaymentMethod::Splitable === @order.payment_method %>
      <p>
        Payment method: <%= @order.payment_method.name %> <br />
        Transaction Id: <%= @order.splitable_transaction_number %>

      </p>
    <% end %>

    <% if @order.creditcard_transactions.any? %>
      <p>
        <table style='margin-bottom:0px;'>
          <% @order.creditcard_transactions.each do |t| %>
            <tr>
              <td> <%= t.created_at.to_s(:long) %> </td>
              <td> <%= t.status.titleize %> <%= number_to_currency(t.amount) %> </td>
              <td>
                <%= creditcard_logo_for(t.creditcard) %>
                <%= t.creditcard.masked_number %>
              </td>
            </tr>
          <% end %>
        </table>
      </p>
    <% end %>

    <% if @order.final_billing_address.present? %>
      <h5> Billing address</h5>
      <p>
        <address> <%= @order.final_billing_address.full_address_array.join('<br />').html_safe %> </address>
      </p>
    <% end %>
  </div>
</div>

<br />

<%= render 'shipping_info' %>

<br />

<%= render 'line_items' %>
