<%= form_for([:admin, @product_group]) do |f| %>

  <% if @product_group.errors.any? %>
    <div class="alert-message block-message error">
      <p> <%= t(:error_bang) %> </p>
      <ul>
        <% @product_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name, class: 'xlarge focus', size: 30 %>
      </div>
    </div><!-- /clearfix -->

    <div class="clearfix">
      <%= f.label :condition, 'Condition' %>
      <div class="input">
        <%= collection_select(:product_group, :custom_field_id, @custom_fields, :id, :name) %>
        <%= f.text_field :custom_field_operator, class: 'xlarge focus', size: 30 %>
        <%= f.text_field :custom_field_value, class: 'xlarge focus', size: 30 %>

      </div>
    </div><!-- /clearfix -->


    <div class="clearfix">
    </div><!-- /clearfix -->
  </fieldset>

  <div class="actions">
    <%= f.submit('Submit', class: 'btn primary') %>
    &nbsp;
    <%= link_to 'Cancel', admin_custom_fields_path, class: 'btn' %>
  </div>

<% end %>
