<%= form_for([:admin, @product_group]) do |f| %>

  <% if @product_group.errors.any? %>
    <div class="alert-message block-message error">
      <p> <%= t(:error_bang) %> </p>
      <ul>
        <% @product_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name, class: 'xlarge focus', size: 30 %>
      </div>
    </div><!-- /clearfix -->

    <div class="clearfix">
      <%= f.label :condition, 'Condition' %>
      <% @product_group.product_group_conditions.each do | condition | %> 
        <div id ="condition-klass" class="input" data-fields="<%= ProductGroup.fields.to_json %>" data-fields="<%= ProductGroup.operators.to_json %>">
          <%= f.fields_for :product_group_conditions, condition do | condition_field | %>
            <%= condition_field.select :name, ProductGroup.fields.map { |t| t.values_at("name", "id") }, class: 'xlarge focus', size: 30 %>
            <%= condition_field.select :operator, ProductGroup.operators[condition_field.object.field_type.to_sym], class: 'xlarge focus', size: 30 %>
            <%= condition_field.text_field :value, class: 'xlarge focus', size: 30 %>
          <% end %>
        </div>
      <% end %>
    </div><!-- /clearfix -->


    <div class="clearfix">
    </div><!-- /clearfix -->
  </fieldset>

  <div class="actions">
    <%= f.submit('Submit', class: 'btn primary') %>
    &nbsp;
    <%= link_to 'Cancel', admin_custom_fields_path, class: 'btn' %>
  </div>

<% end %>
