<div>
  <h1><%= t(:product_groups) %></h1>
</div>

<%= link_to(new_admin_product_group_path) do %>
  <button class="btn info">+ Add new product group</button>
<% end %>

<br />
<br />

<table class="zebra-striped">
  <tbody>
    <% @product_groups.each do |product_group| %>
      <tr>
        <td><%= product_group.name %></td>
        <td><%= product_group.summarize %></td>
        <td>
          <%= link_to t(:edit), edit_admin_product_group_path(product_group) %>
          |
          <%= link_to t(:delete), [:admin, product_group], confirm: t(:delete_confirmation_for_product_group), method: 'delete' %>
        </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
