<% page_title 'product groups' %>

<div>
  <h1 class='ns-page-title'><%= t(:product_groups) %></h1>
  <%= link_to(new_admin_product_group_path, class: 'btn btn-success new-action', id: 'add_new_product_group') do %>
    <i class="icon-plus"></i> Add new product group
  <% end %>
  <div class='clear'></div>
</div>

<br />

<table class="table table-striped">
  <tbody>
    <% @product_groups.each do |product_group| %>
      <tr>
        <td><%= product_group.name %></td>
        <td><%= product_group.summarize %></td>
        <td>
          <%= link_to t(:edit), edit_admin_product_group_path(product_group), title: 'Edit' %>
          |
          <%= link_to [:admin, product_group], confirm: t(:delete_confirmation_for_product_group), method: 'delete', class: 'delete', title: 'Delete' do %>
            <i class="icon-remove icon-white"></i>
          <% end %>
        </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
