<hr class="span6">

<div class="span12">
  <div class="single_item row">
    <div class="span1 product_pictures">
      <%= link_to(image_tag(line_item.picture_small, alt: line_item.product_name), line_item.product) %>
    </div>
    <div class="span2 description">
      <strong class="item_name"><%= link_to(line_item.product_name, line_item.product) %></strong>
      <br>
      <strong><%= display_variant_info(line_item) %></strong>
    </div>
    <div class="span1">
      <h4 class="visible-phone">
	      Item Price
      </h4>
      <%= number_to_currency(line_item.product_price) %>
    </div>
    <div class="span1">
      <h4 class="visible-phone">
        Quantity
      </h4>
      <%= text_field_tag "updates[#{line_item.product_id}]", line_item.quantity, size: 2,
                                                  id: "updates_#{line_item.product_id}", class: "quantity-field", style: "width:25px" %>
    </div>
    <div class="span1">
      <h4 class="visible-phone">
        Total price
      </h4>
      <strong><%= number_to_currency(line_item.price) %></strong>
    </div>
    <div class="span1 remove">
      <%= link_to 'Remove', '#', title: 'Remove', class: 'delete remove-item', 'data-permalink' => line_item.product_id %>
    </div>
  </div>
</div>
