<% @page_sub_title = pluralize(items_count_in_cart, 'Item') %>

<% if items_count_in_cart == 0 %>
  <p id="empty">Your shopping cart is empty. <a href="/">Continue shopping...</a></p>
<% else %>
  <%= form_tag('/cart', method: :put, name: 'cartform', id: 'cartform') do %>
	  <table class='table table-zebra'>
      <thead>
        <tr>
          <th colspan="2" class="start">Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Delete</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @line_items.each do |line_item| %>
          <%= render 'line_item', line_item: line_item %>
        <% end %>

        <% if current_order.shipping_method %>
          <tr class='shipping_cost'>
            <td colspan='4'>&nbsp;</td>
            <td> Shipping </td>
            <td><strong><%= number_to_currency(@cart.shipping_cost) %></strong></td>
          </tr>
        <% end %>

        <% if current_order.tax %>
          <tr class='shipping_cost'>
            <td colspan='4'>&nbsp;</td>
            <td> Tax </td>
            <td><strong><%= number_to_currency(current_order.tax) %></strong></td>
          </tr>
        <% end %>

        <tr>
          <td colspan='3'>&nbsp;</td>
          <td>
              <%= submit_tag 'Update', class: 'btn' %>
              <%= submit_tag 'Checkout', name: "checkout", class: 'btn btn-primary' %>
          </td>
          <td> Total: </td>
          <td style='font-size:120%;'>
            <strong><%= number_to_currency(@cart.total_price) %></strong>
          </td>
        </tr>

      </tbody>
    </table>
  <% end %>
<% end %>
