<% @page_sub_title = pluralize(items_count_in_cart, 'Item') %>

<% if items_count_in_cart == 0 %>
  <p id="empty">Your shopping cart is empty. <a href="/">Continue shopping...</a></p>
<% else %>
  <%= form_tag('/cart', method: :put, name: 'cartform', id: 'cartform') do %>
	  <table class='table table-striped'>
      <thead>
        <tr>
          <th colspan="2" class="start">Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Delete</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @line_items.each do |line_item| %>
          <%= render 'line_item', line_item: line_item %>
        <% end %>
        <tr>
          <td colspan='4'>&nbsp;</td>
          <th> Total: </th>
          <td> <%= number_to_currency(@cart.total_price) %> </td>
        </tr>

        <tr>
          <td colspan='5'>&nbsp;</td>
          <td>
            <p class='button'>
              <%= submit_tag 'Checkout', name: "checkout", class: 'btn btn-primary' %>
            </p>
            <p class='button'>
              <%= submit_tag 'Update', class: 'btn btn-primary' %>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan='3'>&nbsp; </td>
          <td colspan='3'>
            Not ready to checkout ? <%= link_to 'Continue shopping ...', root_url %>
          </td>
        </tr>

      </tbody>
    </table>
  <% end %>
<% end %>
