<div class='row'>
  <div class='span8'>
    <ul class="media-grid">
      <li>
        <%= link_to(image_tag(@product.picture.picture_url(:large)), all_pictures_product_path(@product), target: '_blank', id: 'main-image') %>
      </li>
    </ul>

    <br />
    <p>
    <ul class="media-grid">
      <% @product.pictures.each do |picture| %>
        <% img = image_tag(picture.picture_url(:thumb), {class: 'thumb',
                                                         'data-large-picture' => picture.picture_url(:large),
                                                         'data-grande-picture' => picture.picture_url(:grande)}) %>
        <li>
          <%= link_to(img, '#') %>
        </li>
      <% end %>
    </ul>
    </p>
    <a href="/">Continue shopping...</a>
  </div>

  <div class='span1'>
    &nbsp;
  </div>
  <div class='span5'>
    <h3><%= number_to_currency(@product.price) %></h3>

    <form method="post" action="/cart/add">
      <input type="hidden" name="permalink" value="<%= @product.permalink %>" />
			<div id="buy" class="clear">
				<input type="submit" value="Add to Cart" class='btn primary' />
			</div>
		</form>

    <h4>Description</h4>
    <%= simple_format(@product.description) %>

  </div>
</div>

