<div class='row'>

  <div class='span6'>
    <ul class="thumbnails">
      <li>
        <%= link_to(image_tag(@product.picture.picture_url(:large)), all_pictures_product_path(@product), id: 'main-image', class: 'thumbnail') %>
      </li>
    </ul>

    <br />
    <p>
      <ul class="thumbnails">
        <% @product.pictures.each do |picture| %>
          <% img = image_tag(picture.picture_url(:thumb), {class: 'thumb',
                                                           'data-large-picture' => picture.picture_url(:large),
                                                           'data-grande-picture' => picture.picture_url(:grande)}) %>
          <li>
            <%= link_to(img, '#', class: 'thumbnail') %>
          </li>
        <% end %>
      </ul>
    </p>
    <%= link_to 'Continue shopping ...', root_url %>
  </div>

  <div class='span6'>
    <h3 id='product-price'><%= number_to_currency(@product.price) %></h3>
    <%= form_tag('/cart/add', method: 'post') do %>

      <div id ="product-show-variant-price-data" data-fields="<%= @product.variant_price_data.to_json %>">

      <div class='variants'>
        <% @product.variations.active.each do |variation| %>
          <%= variation.label %>
          <%= select_tag( "#{variation.variation_type}_value", options_for_select(variation.content_for_select_options)) %>
          <br />
          <br />
        <% end %>
        <br />
        <br />
      </div>

      <input type="hidden" name="permalink" value="<%= @product.permalink %>" />
      <div id="buy" class="clear">
        <%= submit_tag 'Add to cart', class: 'btn btn-primary', id: 'add-to-cart' %>
			</div>
    <% end %>

    <h4>Description</h4>
    <%= simple_format(@product.description) %>
  </div>
</div>

