<div class='well'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan='3'>
          <div>

            <div class='link_group_name'>
              <h3><%= link_group.name %></h3>
            </div>

            <div class='link_group_edit'>
              <%= link_to t(:edit), edit_admin_link_group_path(link_group) %>
              |
              <%= link_to [:admin, link_group], class: 'delete', data: { confirm: t(:delete_confirmation_for_link_group) }, method: 'delete', title: 'Delete' do %>
                <i class='icon-remove icon-white'></i>
              <% end %>
            </div>

            <div style='float:right'>
              <%= link_to new_admin_link_group_navigation_path(link_group), class: 'btn btn-success' do %>
                <i class='icon-plus'></i> Add new link
              <% end %>
            </div>

            <div style='clear:both;'></div>
          </div>
        </th>
      </tr>
      <tr>
        <th>Link name </th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% link_group.navigations.each do |nav| %>
        <tr>
          <td> <%= nav.product_group.name %> </td>
          <td>&nbsp; </td>
          <td>
            <%= link_to [:admin, link_group, nav], data: { confirm: t(:delete_confirmation_for_link) }, class: 'delete', title: 'Delete', method: 'delete' do %>
              <i class='icon-remove icon-white'></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
