<%= render 'tabs' %>

<table class='bordered-table'>
  <tbody>
    <% @payment_methods.each do |payment_method| %>
      <tr>
        <td>
          <h3>
            <%= form_tag("/admin/payment_methods/#{payment_method.id}", :method => :put) do %>
              <%= check_box_tag 'enabled', '1', payment_method.enabled, class: 'submittable', id: payment_method.permalink %>
            <% end %>
          </h3>
        </td>
        <td>
          <h3>
            <% if payment_method.permalink == 'authorize-net' %>
              <%= image_tag('authorize_net_logo.png') %>
            <% elsif payment_method.permalink == 'paypal-website-payments-standard' %>
              <%= image_tag('paypal_logo.png', width: '200') %>
            <% elsif payment_method.permalink == 'splitable' %>
              <%= image_tag('splitable_logo.png', width: '200') %>
            <% end %>
          </h3>
        </td>
        <td>
          <%= raw payment_method.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
