<% page_title 'Pick shipping method' %>
<br />

<div class='row'>
  <div class='span6 well'>
    <%= form_for(current_order , url: checkout_shipping_method_path, html: {class: 'form-horizontal'}) do |f| %>
      <%= render 'error' %>

      <% if @shipping_methods.any? %>
        <%= render 'shipping_methods', f: f %>
      <% else %>
        <%= render 'no_shipping_method' %>
      <% end %>

    <% end %>
  </div>
  <%= render 'nimbleshop_simply/shared/order_summary' %>
</div>
