<% page_title 'add a new link' %>

<div>
  <h1 class='ns-page-title'>Add a new link to link group <%= @link_group.name %></h1>
  <div class='clear'></div>
</div>

<br />

<div class='well'>
  <%= form_for([:admin, @link_group, @navigation], html: {class: 'form-horizontal'}) do |f| %>

    <fieldset>
      <div class="control-group">
        <%= f.label :product_group_id, 'Product Group', class: 'control-label' %>
        <div class="controls">
          <%= f.collection_select :product_group_id, ProductGroup.all, :id, :name %>
        </div>
      </div>
    </fieldset>

    <div class="form-actions">
      <%= f.submit('Add', class: 'btn btn-primary') %>
      &nbsp;
      <%= link_to 'Cancel', admin_link_groups_path, class: 'btn' %>
    </div>

  <% end %>
<div>

<%= render 'form' %>
