<br />
<div class='span7 well'>
  <%= form_for(current_order , as: :order,
                              url: update_shipping_method_order_path(current_order),
                              html: {class: 'form-horizontal'},
                              method: :put) do |f| %>

    <% if current_order.errors.any? %>
      <div class="alert alert-error">
        <ul>
          <li> <%= current_order.errors.full_messages.first %></li>
        </ul>
      </div>
    <% end %>

    <div class='control-group'>
      <div class='controls'>
        <% @shipping_methods.each do |shipping_method| %>
          <label class='radio'>
            <%= f.radio_button :shipping_method_id, shipping_method.id %>
            <%= shipping_method.name + ' -- ' + number_to_currency(shipping_method.shipping_price) %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>

  <% end %>
</div>

<%= render 'layouts/order_summary' %>
