<%= form_for(@current_order) do |f| %>

  <% if current_order.errors.keys.include?(:email) %>
    <div class="alert-message block-message error">
      <ul>
        <li>Email <%= current_order.errors.messages.values_at(:email).flatten.first %></li>
      </ul>
    </div>
  <% elsif current_order.shipping_address.errors.any? %>
    <div class="alert-message block-message error">
      <p> Shipping address error ! </p>
      <ul>
        <% current_order.shipping_address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% elsif current_order.billing_address.errors.any? %>
    <div class="alert-message block-message error">
      <p> Billing address error ! </p>
      <ul>
        <% current_order.billing_address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br />

  <div class='well'>
    <h3>Contact information</h3>

    <fieldset>
      <div class='clearfix'>
        <%= f.label :email, 'Your email address' %>
        <div class='input'>
          <%= f.text_field :email, class: 'xlarge', size: 30 %>
        </div>
      </div>
    </fieldset>
  </div>

  <div class='well'>
    <%= f.fields_for :shipping_address do |shipping_form| %>
      <h3>Shipping address</h3>
      <br />

      <fieldset>
        <div class='clearfix'>
          <%= shipping_form.label :first_name %>
          <div class='input'>
            <%= shipping_form.text_field :first_name %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= shipping_form.label :last_name %>
          <div class='input'>
            <%= shipping_form.text_field :last_name %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= shipping_form.label :address1 %>
          <div class='input'>
            <%= shipping_form.text_field :address1 %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= shipping_form.label :address2 %>
          <div class='input'>
            <%= shipping_form.text_field :address2 %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= shipping_form.label :city %>
          <div class='input'>
            <%= shipping_form.text_field :city %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= shipping_form.label :state_code %>
          <div class='input'>
            <%= shipping_form.text_field :state_code %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= shipping_form.label :zipcode %>
          <div class='input'>
            <%= shipping_form.text_field :zipcode %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= shipping_form.label :country_code %>
          <div class='input'>
            <%= shipping_form.text_field :country_code %>
          </div>
        </div>
      </fieldset>

      <%= shipping_form.check_box :use_for_billing %>
      Use this address as billing address too
    <% end %>
  </div>

  <div class='well' id='billing_well'>
    <%= f.fields_for :billing_address do |billing_form| %>
      <h3>Billing address</h3>
      <br />

      <fieldset>
        <div class='clearfix'>
          <%= billing_form.label :first_name %>
          <div class='input'>
            <%= billing_form.text_field :first_name %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= billing_form.label :last_name %>
          <div class='input'>
            <%= billing_form.text_field :last_name %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= billing_form.label :address1 %>
          <div class='input'>
            <%= billing_form.text_field :address1 %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= billing_form.label :address2 %>
          <div class='input'>
            <%= billing_form.text_field :address2 %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= billing_form.label :city %>
          <div class='input'>
            <%= billing_form.text_field :city %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= billing_form.label :state_name %>
          <div class='input'>
            <%= billing_form.text_field :state_name %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= billing_form.label :zipcode %>
          <div class='input'>
            <%= billing_form.text_field :zipcode %>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class='clearfix'>
          <%= billing_form.label :country_code %>
          <div class='input'>
            <%= billing_form.text_field :country_code %>
          </div>
        </div>
      </fieldset>

    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn primary' %>
  </div>
<% end %>
