<%= form_for(current_order , :as => :order, :url => update_shipping_method_order_path(current_order), :method => :put) do |f| %>

  <% if current_order.errors.any? %>
    <div class="alert-message block-message error">
      <ul>
        <li> <%= current_order.errors.full_messages.first %></li>
      </ul>
    </div>
  <% end %>

  <div class='clearfix'>
    <div class='input'>
      <div class='inputs-list'>
        <% @shipping_methods.each do |shipping_method| %>
          <li>
            <label>
              <%= f.radio_button :shipping_method_id, shipping_method.id %>
              <%= f.label :shipping_method_id, number_to_currency(shipping_method.shipping_price) %>
              <%#= f.label :shipping_method_id, shipping_method.name + ' -- ' + number_to_currency(shipping_method.shipping_price.to_s) %>
            </label>
          </li>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn primary' %>
  </div>

<% end %>
