<% @page_sub_title = pluralize(items_count_in_cart, 'Item') %>

<% if items_count_in_cart == 0 %>
  <p id="empty">Your shopping cart is empty. <a href="/">Continue shopping...</a></p>
<% else %>
  <%= form_tag('/cart', method: :put, name: 'cartform', id: 'cartform') do %>
	  <table class='zebra-striped'>
      <thead>
        <tr>
          <th colspan="2" class="start">Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Delete</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @line_items.each do |line_item| %>
          <%= render 'line_item', line_item: line_item %>
        <% end %>
        <tr>
          <td colspan='3'> <p>Not ready to checkout? <a href="/">Continue shopping...</a></p> </td>
          <th> <%= submit_tag 'Update', class: 'btn primary' %> </th>
          <th> Total: </th>
          <td> <%= number_to_currency(@cart.total_price) %> </td>
        </tr>
        <tr>
          <td colspan='4'>&nbsp;</td>
          <td>
            <% if authorize_net_enabled? %>
              <p class='button'>
                <%= submit_tag 'Checkout with Authorize.net', name: "payment_method_permalink[authorize-net]", class: 'btn primary' %>
              </p>
            <% end %>

            <% if splitable_enabled? %>
              <p class='button'>
                <%= submit_tag 'Checkout with splitable', name: "payment_method_permalink[splitable]", class: 'btn primary' %>
              </p>
            <% end %>

            <% if paypal_website_payments_standard_enabled? %>
              <p class='button'>
                <%= image_submit_tag 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckoutsm.gif', name: "payment_method_permalink[paypal-website-payments-standard]", alt: t(:paypal_image_alt), style: 'transition: none; width: 145px; height:42px;border:0; -webkit-box-shadow:none; ' %>
              </p>
            <% end %>

          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>
