<% if @creditcard.errors.any? %>
  <div class="alert alert-error">
    <ul>
      <% @creditcard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div id='cvvhelp' class="modal hide fade" style="display:none">
  <div class='modal-hader'>
    <%= link_to 'x', '#', class: 'close', 'data-dismiss' => 'modal' %>
    <h3>What is CVV ?</h3>
  </div>
  <div class="modal-body">
    <p>
      The <strong>CVV Number</strong> stands for "<strong>C</strong>ard <strong>V</strong>erification <strong>V</strong>alue" . It is a 3 digit number for VISA, MasterCard and Discover cards. It is a 4 digit number for American Express credit cards.
    </p>
    <h4>For Visa, MasterCard and Discover credit cards</h4>
    <%= image_tag 'https://www.paypalobjects.com/en_US/i/demo/cv_card.gif' %>

    <h4>For American Express credit cards</h4>
    <%= image_tag 'https://www.paypalobjects.com/en_US/i/demo/cv_amex_card.gif' %>
  </div>
</div>

<fieldset>
  <div class='control-group'>
    <%= f.label :number, 'Credit card number', autocomplete: 'off', class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :number, class: 'input-xlarge focus' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :cvv, 'CVV number', autocomplete: 'off', class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :cvv %>
      &nbsp;
      <%= link_to 'What is this?', '#cvvhelp', 'data-toggle' => "modal" %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :expires_on, 'Expiration date', class: 'control-label' %>
    <div class='controls'>
      <%= f.date_select :expires_on, discard_day: true, start_year: Date.today.year, end_year: (Date.today.year + 10), add_month_numbers: true, order: [:day, :month, :year] %>
    </div>
  </div>
</fieldset>

<div class="form-actions">
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
</div>
