<br />

<div class='span7'>
  <div class='well'>

    <%= render 'payment_processors/payment_methods/authorize_net/authorize_net_instructions' %>
    <%= render 'payment_processors/payment_methods/authorize_net/what_is_cvv' %>

    <div class='alert alert-success payment-security-notice'>
      All payments are secure and encrypted. We never store your credit card information.
    </div>

    <%= form_for @creditcard, url: payment_processors_path, html: {class: 'form-horizontal'} do |f| %>

      <div class='control-group'>
        <div class='controls'>
          <% if NimbleshopSplitable::Splitable.first.enabled? %>
            <label class='radio'>
              <%= radio_button_tag 'payment_choice', 'splitable' %>
              <%= image_tag('splitable.png') %>
            </label>
          <% end %>

          <% if NimbleshopPaypalwp::Paypalwp.first.enabled? %>
            <label class='radio'>
              <%= radio_button_tag 'payment_choice', 'paypal' %>
              <%= image_tag('paypal.png') %>
            </label>
          <% end %>

          <% if NimbleshopAuthorizedotnet::Authorizedotnet.first.enabled?  %>
            <label class='radio'>
              <%= radio_button_tag 'payment_choice', 'authorize-net', true %>
              <label for='payment_choice'>
                <%= image_tag('visa.png') %>
                <%= image_tag('mastercard.png') %>
                <%= image_tag('amex.png') %>
                <%= image_tag('discover.png') %>
              </label>
            </label>
          <% end %>
        </div>
      </div>

    <% if NimbleshopAuthorizedotnet::Authorizedotnet.first.enabled? %>
      <%= render 'payment_processors/payment_methods/authorize_net/authorize_net_form', f: f %>
    <% end %>

    </div>
  <% end %>
  <div class='well'>
    <% if NimbleshopPaypalwp::Paypalwp.first.enabled? %>
      <%= render partial: 'payment_processors/payment_methods/paypal/paypal', locals: { order: current_order } %>
    <% end %>
  </div>
</div>

<%= render 'shared/order_summary' %>
