<%= render 'authorize_net_instructions' %>

<%= render 'splitable_form' %>

<div class='well'>
  <%= form_for @creditcard, url: payment_processors_path do |f| %>

    <div class='clearfix'>
      <div class='input'>
        <div class='inputs-list'>

          <% if splitable_enabled? %>
            <li>
              <label>
                <%= radio_button_tag 'payment_choice', 'splitable' %>
                <%= label_tag 'payment_choice', image_tag('splitable.png') %>
              </label>
            </li>
          <% end %>

          <% if paypal_website_payments_standard_enabled? %>
            <li>
              <label>
                <%= radio_button_tag 'payment_choice', 'paypal' %>
                <%= label_tag 'payment_choice', image_tag('paypal.png') %>
              </label>
            </li>
          <% end %>

          <% if authorize_net_enabled?  %>
            <li>
              <label>
                <%= radio_button_tag 'payment_choice', 'authorize-net', true %>
                <label for='payment_choice'>
                  <%= image_tag('visa.png') %>
                  <%= image_tag('mastercard.png') %>
                  <%= image_tag('amex.png') %>
                  <%= image_tag('discover.png') %>
                  <br />
                  <small>
                    All payments are secure and encrypted. We never store your credit card information.
                  </small>
                </label>
              </label>
            </li>
          <% end %>
        </div>
      </div>
    </div>

    <% if authorize_net_enabled? %>
      <%= render 'authorize_net_form', f: f %>
    <% end %>

  <% end %>
</div>
