<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @creditcard_payment.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @creditcard_payment.last_name %>
</p>

<p>
  <b>Number:</b>
  <%= @creditcard_payment.number %>
</p>

<p>
  <b>Cvv:</b>
  <%= @creditcard_payment.cvv %>
</p>

<p>
  <b>Address1:</b>
  <%= @creditcard_payment.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @creditcard_payment.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @creditcard_payment.city %>
</p>

<p>
  <b>State:</b>
  <%= @creditcard_payment.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @creditcard_payment.zipcode %>
</p>

<p>
  <b>Expires on:</b>
  <%= @creditcard_payment.expires_on %>
</p>


<%= link_to 'Edit', edit_creditcard_payment_path(@creditcard_payment) %> |
<%= link_to 'Back', creditcard_payments_path %>
