<div class='well'>
  <%= nested_form_for([:admin, @product], html: {multipart: true, class: 'nested-form form-horizontal'}) do |f| %>

    <% if @product.errors.any? %>
      <div class="alert alert-error">
        <p> <%= t(:error_bang) %> </p>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>

      <div class="control-group">
        <label class="control-label">Status</label>
        <div class='controls'>
          <label class="radio">
            <%= f.radio_button :status, :active %>
            Active
          </label>
          <label class="radio">
            <%= f.radio_button :status, :hidden %>
            Hidden
          </label>
          <label class="radio">
            <%= f.radio_button :status, :sold_out %>
            Sold Out
          </label>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :name, 'Name', class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, class: 'span8 focus' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description, 'Description', class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, class: 'span8 autoresize', rows: 5 %>
          <p class="help-block">
            Html tags is allowed.
          </p>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :price, 'Price', class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :price, class: 'span1' %> USD
        </div>
      </div>

      <% @product.custom_field_answers.each do | answer | %>
        <%= render :partial => '/admin/products/custom_field_answer',
                          :locals => { :f => f, :answer => answer } %>
      <% end %>

      <div class="control-group">
        <% unless @product.new_record? %>
            <label class="control-label">Images</label>
            <div class='controls'>
              <ul class="thumbnails product_pictures">
                <% @product.pictures.each do |picture| %>
                  <li>
                    <%= link_to image_tag(picture.picture_url(:medium)), '#', class: 'thumbnail' %>

                    <div class="actions">
                      <%= link_to 'Move', '#', class: 'move' %>
                      <%= link_to 'Delete', '#', class: 'delete' %>
                    </div>
                  </li>
                <% end %>
              </ul>

              <%= f.fields_for :pictures do |picture_form| %>
                <%= picture_form.file_field :picture %>
                <%= picture_form.link_to_remove 'X' %>
              <% end %>
              <%= f.link_to_add 'Add picture', :pictures %>

            </div>
        <% end %>
      </div><!-- /clearfix -->

    </fieldset>

    <div class="form-actions">
      <%= f.submit('Submit', class: 'btn btn-primary') %>
      &nbsp;
      <%= link_to t(:cancel), admin_products_path, class: 'btn' %>
    </div>

  <% end %>
</div>
