<div class='well'>
  <%= nested_form_for([:admin, @product], html: {multipart: true, class: 'form-horizontal'}) do |f| %>
    <% if @product.errors.any? %>
      <div class="alert alert-error">
        <p> <%= t(:error_bang) %> </p>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class="control-group">
        <%= f.label :name, 'Name', class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, class: 'input-xlarge focus' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description, 'Description', class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, class: 'input-xxlarge', rows: 5 %>
          <p class="help-block">
            No html is allowed but paragraphs are maintainded.
          </p>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :price, 'Price', class: 'control-label' %>
        <div class="controls">
          $
          <%= f.text_field :price, class: 'input-xlarge' %>
        </div>
      </div>

      <% @product.custom_field_answers.each do | answer | %>
        <%= render :partial => '/admin/products/custom_field_answer',
                          :locals => { :f => f, :answer => answer } %>
      <% end %>

      <div class="control-group">
        <% unless @product.new_record? %>
          <div class='row'>
            <div class='span3'>Images</div>
            <div class='span7'>
              <ul class="media-grid">
                <% @product.pictures.each do |picture| %>
                  <li>
                    <a href="#">
                      <%= image_tag picture.picture_url(:small) %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div><!-- /clearfix -->

      <%= f.fields_for :pictures do |picture_form| %>
        <%= picture_form.label :picture %>
        <%= picture_form.file_field :picture %>
        <%= picture_form.link_to_remove 'Remove picture' %>
      <% end %>
      <%= f.link_to_add 'Add picture', :pictures %>
    </fieldset>

    <div class="form-actions">
      <%= f.submit('Submit', class: 'btn btn-primary') %>
      &nbsp;
      <%= link_to t(:cancel), admin_products_path, class: 'btn' %>
    </div>

  <% end %>
</div>
