<div class='well'>
  <%= nested_form_for([:admin, @product], html: {multipart: true, class: 'nested-form form-horizontal'}) do |f| %>

    <% if @product.errors.any? %>
      <div class="alert alert-error">
        <p> <%= t(:error_bang) %> </p>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class="control-group">
        <label class="control-label">Status</label>
        <div class='controls'>
          <label class="radio">
            <%= f.radio_button :status, :active %>
            Active
          </label>
          <label class="radio">
            <%= f.radio_button :status, :hidden %>
            Hidden
          </label>
          <label class="radio">
            <%= f.radio_button :status, :sold_out %>
            Sold Out
          </label>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :name, 'Name', class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, class: 'span8 focus' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description, 'Description', class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, class: 'span8 autoresize', rows: 5 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :price, 'Price', class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :price, class: 'span1', :'data-behavior' => 'price-formatted' %> USD
        </div>
      </div>

      <% @product.custom_field_answers.each do | answer | %>
        <%= render :partial => '/admin/products/custom_field_answer', :locals => { :f => f, :answer => answer } %>
      <% end %>
    </fieldset>

    <%= render 'handle_pictures' %>

    <div class="form-actions">
      <%= f.submit 'Submit', class: 'btn btn-primary', 'data-loading-text' => 'processing ...' %>
      &nbsp;
      <%= link_to t(:cancel), admin_products_path, class: 'btn' %>
    </div>

  <% end %>
</div>
