<div class="span12">

  <%= nested_form_for([:admin, @product], html: {multipart: true}) do |f| %>

    <% if @product.errors.any? %>
      <div class="alert-message block-message error">
        <p> <%= t(:error_bang) %> </p>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class="clearfix">
        <%= f.label :name, 'Name' %>
        <div class="input">
          <%= f.text_field :name, class: 'xlarge focus', size: 30 %>
        </div>
      </div><!-- /clearfix -->

      <div class="clearfix">
        <%= f.label :description, 'Description' %>
        <div class="input">
          <%= f.text_area :description, class: 'xxlarge', rows: 5 %>
          <span class="help-block">
            No html is allowed but paragraphs are maintainded.
          </span>
        </div>
      </div><!-- /clearfix -->

      <div class="clearfix">
        <%= f.label :price, 'Price' %>
        <div class="input">
          $
          <%= f.text_field :price, class: 'large', size: 30 %>
        </div>
      </div><!-- /clearfix -->

      <div class="clearfix">
        <% unless @product.new_record? %>
          <div class='row'>
            <div class='span3'>Images</div>
            <div class='span7'>
              <ul class="media-grid">
                <% @product.pictures.each do |picture| %>
                  <li>
                    <a href="#">
                      <%= image_tag picture.picture_url(:small) %>
                    </a>
                  </li>
                <% end %>
              </ul>

            </div>
          </div>
        <% end %>
      </div><!-- /clearfix -->

        <%= f.fields_for :pictures do |picture_form| %>
          <%= picture_form.label :picture %>
          <%= picture_form.file_field :picture %>
          <%= picture_form.link_to_remove 'Remove picture' %>
        <% end %>
        <%= f.link_to_add 'Add picture', :pictures %>

      <div class="actions">
        <%= f.submit('Submit', class: 'btn primary') %>
        &nbsp;
        <%= link_to t(:cancel), admin_products_path, class: 'btn' %>
      </div>

    </fieldset>
  <% end %>
</div>


<br />
<br />
<br />


