<div class='well'>

  <p>
    <%= check_box_tag :variants_enabled, 'yes', @product.variants_enabled %>
    <strong>This product has variants <%= link_to '!', '#', class: 'help' %></strong>
  </p>
  <br />

  <%= nested_form_for([:admin, @product],
                      url: variants_admin_product_path(@product),
                      html: {multipart: true, id: 'variant_box'}) do |f| %>
    <div>
      <div class='variation1_col'>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
      </div>
      <div class='variation2_col'>
        <%= check_box_tag :variation2_active, 'yes', @product.variation2.active, id: 'variation2_active_status' %> Enable
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
      </div>
      <div class='variation3_col'>
        <%= check_box_tag :variation3_active, 'yes', @product.variation3.active, id: 'variation3_active_status' %> Enable
      </div>
      <div style='clear:both;'></div>
    </div>

    <div>
      <% @product.variations.each do |variation| %>
        <div class="<%=variation.variation_type%>_col">
          <%= text_field_tag "#{variation.variation_type}_value", variation.name, class: 'input_variant' %>
        </div>
      <% end %>
      <div class='variation4_col'>
        Price
      </div>
      <div style='clear:both;'></div>
    </div>

    <%= f.fields_for :variants do |variant_form| %>
      <div class='_error-variant' style='margin: 2px 0;'>
      <div class='variantion1_col'>
        <%= variant_form.text_field :variation1_value, class: 'input_variant variation1_col' %>
      </div>
      <div class='variantion2_col'>
        <%= variant_form.text_field :variation2_value, class: 'input_variant variation2_col' %>
      </div>
      <div class='variantion3_col'>
        <%= variant_form.text_field :variation3_value, class: 'input_variant variation3_col' %>
      </div>
      <div class='variantion4_col'>
        <%= variant_form.text_field :price, class: 'input_variant variation4_col' %>
      </div>
      <div class='variantion5_col'>
        <%= variant_form.link_to_remove "X", class: 'variation5_col' %>
      </div>
      <div style='clear:both;'></div>
    </div>
    <% end %>

    <p class='add-a-variant'>
      <%= f.link_to_add "Add a variant", :variants %>
    </p>

    <div class="actions">
      <%= f.submit('Submit', class: 'btn primary') %>
      &nbsp;
      <%= link_to t(:cancel), admin_products_path, class: 'btn' %>
    </div>
<% end %>
  </div> <!-- end of well -->
