<% page_title 'products' %>

<div>
  <h1 class='ns-page-title'><%= t(:products) %></h1>
  <%= link_to(new_admin_product_path, class: 'btn btn-success new-action', id: 'add_new_product') do %>
    <i class="icon-plus"></i> Add new product
  <% end %>
  <div class='clear'></div>
</div>

<br />

<table class="table table-striped">
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if product.picture %>
            <%= link_to image_tag(product.picture.picture_url(:small)), admin_product_path(product) %>
          <% end %>
        </td>
        <td><%= link_to product.name, edit_admin_product_path(product) %></td>
        <td>
          <%= link_to 'Edit', edit_admin_product_path(product), title: 'Edit' %>
          |
          <%= link_to [:admin, product], confirm: t(:delete_confirmation_for_product), method: 'delete', title: 'Delete', class: 'delete' do %>
            <i class="icon-remove icon-white"></i>
          <% end %>
        </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
