<div>
  <h1 class='ns-page-title'><%= t(:products) %></h1>
  <%= link_to(new_admin_product_path, class: 'btn btn-success new-action', id: 'add_new_product') do %>
    <i class="icon-plus"></i> Add new product
  <% end %>
  <div class='clear'></div>
</div>

<br />

<table class="table table-striped">
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if product.picture %>
            <%= image_tag(product.picture.picture_url(:small)) %>
          <% end %>
        </td>
        <td><%= product.name %></td>
        <td>
          <%= link_to 'Show', admin_product_path(product) %>
          |
          <%= link_to 'Edit', edit_admin_product_path(product) %>
          |
          <%= link_to t(:delete), [:admin, product], confirm: t(:delete_confirmation_for_product), method: 'delete' %>
        </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
