
<div>
  <h1 class='ns-page-title'>
    <%= @product.name %>
    <span class="label label-warning" style='font-size:90%;'> <%= number_to_currency @product.price %> </span>
  </h1>

  <%= link_to(edit_admin_product_path(@product), class: 'btn btn-info new-action', id: 'edit_product') do %>
    <i class="icon-plus"></i> Edit product
  <% end %>
  <%= link_to 'Delete', [:admin, @product], class: 'btn btn-info new-action', confirm: 'Are you sure?', method: 'delete', style: 'margin-right: 5px;' %>

  <div class='clear'></div>
</div>

<br />


<%= simple_format @product.description %>

<p>
  <%= image_tag(@product.picture.picture_url(:medium), alt: @product.title) %>
</p>

<p>
  <% @product.pictures.each do |picture| %>
    <%= image_tag(picture.picture_url(:small), alt: @product.title) %>
  <% end %>
</p>

<div class='page-header'>
  <h3>Product groups</h3>
</div>

<% if @product_groups.any? %>
  <div>
    <p>
      This product belongs to following product groups:
    </p>
    <ul>
      <% @product_groups.each do |pg| %>
        <li>
          <h3>
            <%= pg.name %>
            <small>
              <%= pg.summarize %>
            </small>
          </h3>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<br />

