<%= render '/admin/payment_methods/tabs' %>

<div class='well'>

  <% if @payment_method.errors.any? %>
    <div class="alert alert-error">
      <p> <%= t(:error_bang) %> </p>
      <ul>
        <% @payment_method.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div style='float:left;'>
      <%= image_tag('authorize_net_logo.png') %>
    </div>
    <div style='clear:both;'></div>
  </div>

  <%= form_tag('/admin/paymentmethod/authorizedotnet', method: :put, class: 'form-horizontal') do %>
    <fieldset>
      <%= render '/admin/paymentmethod/edit_attributes' %>
    </fieldset>
    <div class="form-actions">
      <%= submit_tag('Submit', class: 'btn btn-primary') %>
      &nbsp;
      <%= link_to t(:cancel), admin_paymentmethod_authorizedotnet_path, class: 'btn' %>
    </div>
  <% end %>

</div>
