<%= render '/admin/payment_methods/tabs' %>

<%= form_tag('/admin/paymentmethod/paypalwebsite_payments_standard', :method => :put) do %>

  <fieldset>

    <div class="clearfix">
      <%= label_tag 'login_id', 'Login ID' %>
      <div class="input">
        <%= text_field_tag 'login_id', @payment_method.login_id, 'class' => 'xlarge focus' %>
      </div>
    </div><!-- /clearfix -->

    <div class="clearfix">
      <%= label_tag 'transaction_key', 'Transaction key' %>
      <div class="input">
        <%= text_field_tag 'transaction_key', @payment_method.transaction_key, 'class' => 'xlarge' %>
      </div>
    </div><!-- /clearfix -->

    <div class="actions">
      <%= submit_tag('Submit', class: 'btn primary') %>
      &nbsp;
      <%= link_to t(:cancel), admin_paymentmethod_authorizedotnet_path, class: 'btn' %>
    </div>

  </fieldset>

<% end %>

