<%= render '/admin/payment_methods/tabs' %>
<%= image_tag('authorize_net_logo.png') %>

<%= form_tag('/admin/paymentmethod/authorizedotnet', :method => :put) do %>

  <fieldset>
    <%= render '/admin/paymentmethod/edit_attributes' %>

    <div class="actions">
      <%= submit_tag('Submit', class: 'btn primary') %>
      &nbsp;
      <%= link_to t(:cancel), admin_paymentmethod_authorizedotnet_path, class: 'btn' %>
    </div>

  </fieldset>

<% end %>

