<%= form_for([:admin, @link_group], remote: true, 'data-type' => 'html', html: {id: 'form-link-group'} ) do |f| %>

  <%= f.text_field :name %>
  <% unless @link_group.new_record? %>
    <a href="#" class="cancel-link-group" id="<%= @link_group.permalink %>"><%= t(:cancel) %></a>
  <% end %>
  <%= f.submit %>
<% end %>
