<div>
  <h1><%= t(:link_groups) %></h1>
</div>

<%= link_to(new_admin_link_group_path) do %>
  <button class="btn info">+ <%= t(:add_new_link_group) %></button>
<% end %>

<br />
<br />

<% @link_groups.each do |link_group| %>
  <table class="zebra-striped bordered-table">
    <thead>
      <tr>
        <th colspan='2'><h2><%= link_group.name %></h2></th>
      </tr>
      <tr>
        <th>Link name </th>
        <th>Action </th>
      </tr>
    </thead>
    <tbody>
      <% link_group.navigations.each do |nav| %>
        <tr>
          <td> <%= link_to(nav.navigeable.name, '') %> </td>
          <td>
            <%= link_to t(:edit), edit_admin_link_group_path(link_group) %>
            |
            <%= link_to t(:delete), [:admin, link_group], confirm: t(:delete_confirmation_for_link_group), method: 'delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
