<div>
  <h1><%= t(:link_groups) %></h1>
</div>

<%= link_to(new_admin_link_group_path) do %>
  <button class="btn info">+ <%= t(:add_new_link_group) %></button>
<% end %>

<br />
<br />

<table class="zebra-striped">
  <tbody>
    <% @link_groups.each do |link_group| %>
      <tr>
        <td><%= link_group.name %></td>
        <td>
          <% link_group.navigations.each do |nav| %>
            <%= link_to(nav.navigeable.name, '') %>
            <br />
          <% end %>
        </td>
        <td>
          <%= link_to t(:edit), edit_admin_link_group_path(link_group) %>
          |
          <%= link_to t(:delete), [:admin, link_group], confirm: 'Are you sure?', method: 'delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
