<div>
  <h1><%= t(:link_groups) %></h1>
</div>

<% if @link_group and @link_group.errors.any? %>
  <div class="alert-message block-message error">
    <p> <%= t(:error_bang) %> </p>
    <ul>
      <% @link_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to "#" do %>
  <button id="new-link-group" class="btn info">+ <%= t(:add_new_link_group) %></button>
<% end %>

<br />
<br />

<% @link_groups.each do |link_group| %>
  <table class="zebra-striped bordered-table">
    <thead>
      <tr>
        <th colspan='2'>
          <h2><%= link_group.name %></h2>
          <%= button_to "destroy", [:admin, link_group], :method => :delete %>
          <%= link_to '#', :id => link_group.permalink, :class => 'edit-link-group' do %>
            <button class="btn"><%= t(:edit) %></button>
          <% end %>  
        </th>
      </tr>
      <tr>
        <th>Link name </th>
        <th>Action </th>
      </tr>
    </thead>
    <tbody>
      <% link_group.navigations.each do |nav| %>
        <tr>
          <td> <%= link_to(nav.navigeable.name, '') %> </td>
          <td>
            <%= link_to t(:edit), edit_admin_link_group_path(link_group) %>
            |
            <%= link_to t(:delete), [:admin, link_group], confirm: t(:delete_confirmation_for_link_group), method: 'delete' %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan='2'> <%= link_to '+ Add a link', new_admin_link_group_navigation_path(link_group) %> </td>
    </tbody>
  </table>
<% end %>

<div id="link-group-form">
</div>
