<% page_title 'link groups' %>

<%= link_to 'What is it?', '' %>

<div>
  <h1 class='ns-page-title'><%= t(:link_groups) %></h1>
  <%= link_to(new_admin_link_group_path, class: 'btn btn-success new-action', id: 'add_new_link_group') do %>
    <i class="icon-plus"></i> <%= t(:add_new_link_group) %>
  <% end %>
  <div class='clear'></div>
</div>

<% if @link_group && @link_group.errors.any? %>
  <div class="alert-message block-message error">
    <p> <%= t(:error_bang) %> </p>
    <ul>
      <% @link_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<br />
<br />

<% @link_groups.each do |link_group| %>
  <%= render 'link_group', link_group: link_group %>
<% end %>
