<script type="text/javascript">
  function remove_item(id) {
    document.getElementById('updates_'+id).value = 0;
    document.getElementById('cartform').submit();
  }
</script>

<div id="title" class="clear">
	<h1>Your Cart</h1>
	<h2>
    <span>
      <%= pluralize(@cart.item_count, 'Item') %>
    </span>
  </h2>
</div>

<% if @cart.item_count == 0 %>
  <p id="empty">Your shopping cart is empty. <a href="/">Continue shopping...</a></p>
<% else %>
  <form action="/cart" method="post" name="cartform" id='cartform'>
	  <table cellpadding="0" cellspacing="0">
      <tr>
        <th colspan="2" class="start">Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delete</th>
        <th>Total</th>
      </tr>
      <% @cart.line_items.each do |line_item| %>
		    <tr class="<%= cycle("odd", "even") -%>">
			    <td class="pic">
				    <div>
              <%= link_to(image_tag(line_item.product.picture.picture_url(:thumb), alt: line_item.product.title), line_item.product.url) %>
            </div>
			    </td>
			    <td>
				    <h3><%= link_to(line_item.product.title, line_item.product.url) %></h3>
				    <p>
              <%= truncate(sanitize(line_item.product.description), length: 180) %>
            </p>
			    </td>
			    <td><%= number_to_currency(line_item.product.price) %></td>
          <td>
            <input type="text" size="4" name="updates[<%=line_item.product.permalink%>]" id="updates_<%=line_item.product.permalink%>" class="quantity-field" value="<%=line_item.quantity%>" onfocus="this.select();"/>
          </td>
          <td class="remove">
            <a href="#" onclick="remove_item('<%=line_item.product.permalink%>'); return false;" >Remove</a>
          </td>
			    <td><strong><%= number_to_currency(line_item.line_price) %></strong></td>
		    </tr>
      <% end %>
	  </table>
	  <!-- END TABLE -->
	  <!-- START TOTAL -->
	  <div id="total" class="clear">
		  <!-- START CONTINUE -->
		  <div id="continue">
			  <p>Not ready to checkout? <a href="/">Continue shopping...</a></p>
		  </div>
		  <!-- END CONTINUE -->

      <!-- START PRICE -->
		  <div id="price">
			  <h3>Total: <span><%= number_to_currency(@cart.total_price) %></span></h3>
		  </div>
		  <!-- END PRICE -->
	  </div>
	  <!-- END TOTAL -->

    <!-- START COMPLETE -->
    <div id="complete" class="clear">
		  <!-- START CHECKOUT -->
		  <div>
			  <input type="submit" value="Update" name="update" class="update" /> or
        <input type="submit" value="Checkout" name="checkout[with_authorize_net]" class="checkout" /> or
			  <input type="submit" value="Checkout with splitable" name="checkout[with_splitable]" class="checkout" />
		  </div>
	  </div>
	  <!-- END COMPLETE -->
  </form>
<% end %>
