<h3>
  Order summary
  <small>
    <%= link_to 'Edit', cart_path %>
  </small>
</h3>

<table>
  <% current_order.line_items.each do |line_item| %>
    <tr>
      <td>
        <%= image_tag(line_item.product.picture.picture_url(:pico)) %>
      </td>
      <td>
        <%= line_item.product.title %>
      </td>
      <td>
        <%= line_item.quantity %> for
        <%= number_to_currency(line_item.product.price) %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan='2'>
      <h4>Total</h4>
    </td>
    <td>
      <h4>
        <%= number_to_currency(current_order.amount) %>
      </h4>
    </td>
  </tr>
</table>

<% if params[:controller] == 'creditcard_payments' %>
  <div class='row'>
    <div class='span4'>
      <h3>
        Shipping address
        <small>
          <%= link_to 'Edit', edit_order_path(current_order) %>
        </small>
      </h3>
      <address>
        <%= current_order.shipping_address.full_address_array.join('<br />').html_safe %>
      </address>
      <h3>Contact email</h3>
      <address>
        <%= current_order.email %>
      </address>
    </div>
  </div>
<% end %>
