<h1>Listing creditcard_payments</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Number</th>
    <th>Cvv</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Expires on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @creditcard_payments.each do |creditcard_payment| %>
  <tr>
    <td><%= creditcard_payment.first_name %></td>
    <td><%= creditcard_payment.last_name %></td>
    <td><%= creditcard_payment.number %></td>
    <td><%= creditcard_payment.cvv %></td>
    <td><%= creditcard_payment.address1 %></td>
    <td><%= creditcard_payment.address2 %></td>
    <td><%= creditcard_payment.city %></td>
    <td><%= creditcard_payment.state %></td>
    <td><%= creditcard_payment.zipcode %></td>
    <td><%= creditcard_payment.expires_on %></td>
    <td><%= link_to 'Show', creditcard_payment %></td>
    <td><%= link_to 'Edit', edit_creditcard_payment_path(creditcard_payment) %></td>
    <td><%= link_to 'Destroy', creditcard_payment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Creditcard payment', new_creditcard_payment_path %>
