<% page_title 'your cart' %>
<% @page_sub_title = pluralize(items_count_in_cart, 'Item') %>

<% if items_count_in_cart == 0 %>
  <p id="empty">
    Your shopping cart is empty.
    <%= link_to 'Continue shopping ...', root_url %>
  </p>
<% else %>
  <%= form_tag('/cart', method: :put, name: 'cartform', id: 'cartform') do %>
    <div class="cart_header row hidden-phone">
      <span class="span3">Description</span>
      <span class="span1">Price</span>
      <span class="span1">Quantity</span>
      <span class="span1">Total</span>
    </div>
    <div class="cart_items row">
      <% @line_items.each do |line_item| %>
        <%= render 'line_item', line_item: line_item %>
      <% end %>
      <hr class="span6" />
    </div>
    <div class="cart_total row">
      <div class="span2">
        <%= submit_tag 'Update', class: 'btn' %>
        <%= link_to 'Checkout', checkingout_cart_path, class: 'btn btn-primary', id: 'checkout' %>
      </div>
      <div class="span2 offset2 text line-items-total">
        Total: <strong><%= number_to_currency(current_order.line_items_total) %></strong>
      </div>
    </div>
  <% end %>
<% end %>

