<%= render '/admin/payment_methods/tabs' %>

<%= image_tag('splitable_logo.png', width: '100') %>

<%= form_tag('/admin/paymentmethod/splitable', :method => :put) do %>

  <fieldset>

    <% @payment_method.preferences.each do |key, value| %>
    <div class="clearfix">
      <%= label_tag key, key %>
      <div class="input">
        <%= text_field_tag key, value, 'class' => 'xlarge' %>
      </div>
    </div><!-- /clearfix -->
    <% end %>



    <div class="actions">
      <%= submit_tag('Submit', class: 'btn primary') %>
      &nbsp;
      <%= link_to t(:cancel), admin_paymentmethod_splitable_path, class: 'btn' %>
    </div>

  </fieldset>

<% end %>
