<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> <%= @page_title %> &mdash; <%= @shop.name %> admin</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag 'admin' %>
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= javascript_include_tag 'admin' %>

  </head>

  <body id=<%=body_id%>>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <%= admin_sidebar( "Admin" ,            main_app.admin_path, 'admin_path') %>
              <%= admin_sidebar('Orders',             main_app.admin_orders_path,          'admin_orders_path') %>
              <%= admin_sidebar('Products',           main_app.admin_products_path,        'admin_products_path') %>
              <%= admin_sidebar('Custom fields',      main_app.admin_custom_fields_path,   'admin_custom_fields_path') %>
              <%= admin_sidebar('Product groups',     main_app.admin_product_groups_path,  'admin_product_groups_path') %>
              <%= admin_sidebar('Link groups',        main_app.admin_link_groups_path,     'admin_link_groups_path') %>
              <%= admin_sidebar('Shipping zones',     main_app.admin_shipping_zones_path,  'admin_shipping_zones_path') %>
              <%= admin_sidebar('Payment methods',    main_app.admin_payment_methods_path, 'admin_payment_methods_path') %>
              <%= admin_sidebar('Shop configuration', main_app.edit_admin_shop_path,       'edit_admin_shop_path') %>
            </ul>
            <ul class='nav pull-right'>
              <li><a href="http://documentup.com/neerajdotname/nimbleshop_doc">Documentation</a></li>
              <li>
                <%= link_to 'Go to shop →', main_app.root_url, class: 'go-to-shop' %> 
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="span3">
          <%= render 'layouts/sidebar' %>
        </div>

        <div class="span9">
          <div class="row">
            <div class="span12">
              <% if flash[:notice] %>
                <div class='alert alert-success'>
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class='alert alert-error'>
                  <%= flash[:error] %>
                </div>
              <% end %>
              <p>
                <%= yield %>
              </p>
          </div>
          </div>
        </div>
      </div>

      <hr>

      <%= render '/layouts/footer' %>

    </div>

  </body>
</html>
